{% extends 'base.html' %}
{% block content %}

<h1>About <i class="camp"> .camp</i></h1>
<hr />
<div class="card">
    <div class="card-image" id="aboutimage">
        <img src="https://i.imgur.com/Sxafp6j.png">
    </div>
    <div class="card-content">
        <p>PLANNING A TRIP SOON? <i class="camp"> .camp</i> CAN HELP! CREATE YOUR OWN PERSONAL DATABASE FOR THE CAMPGROUNDS YOU'VE BEEN, OR PLAN TO GO. QUICKLY ADD FEATURES FOR REFERENCE OF WHAT IS OFFERED, AND WHETHER OR NOT YOUR FURRY FRIENDS CAN COME ALONG!</p>
    </div>
</div>
    {% endblock %}